<?xml version="1.0" ?>
<launch>
		<arg name="nodelet_manager" default="picoflexx_manager" />

	<node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen" />
	<node pkg="nodelet" type="nodelet" name="pmd_voxelgrid" args="load pcl/VoxelGrid $(arg nodelet_manager)" >
			<remap from="~input" to="/pico_flexx/points" />
			<remap from="~output" to="/pico_flexx/points_voxelgrid" />
  <rosparam>
  filter_field_name: y
  filter_limit_min: -3.0
  filter_limit_max: 3.0
  filter_limit_negative: False
  leaf_size: 0.05
  </rosparam>
  </node>
	<node pkg="nodelet" type="nodelet" name="pmd_statisticaloutlierremoval" args="load pcl/StatisticalOutlierRemoval $(arg nodelet_manager)" >
			<remap from="~input" to="/pico_flexx/points_voxelgrid" />
			<remap from="~output" to="/pico_flexx/points_filtered" />
  <rosparam>
  mean_k: 20
  stddev: 1.20
  negative: False
  </rosparam>
	</node>
</launch>
