<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="sensor_camera_gazebo" params="name horizontal_fov update_rate img_width img_height">
  <!-- camera -->
  <gazebo reference="${name}_link">
    <material>Gazebo/FlatBlack</material>
    <sensor type="camera" name="${name}">
      <update_rate>${update_rate}</update_rate>
      <camera name="${name}">
        <horizontal_fov>${horizontal_fov * pi / 180.0}</horizontal_fov>
        <image>
          <width>${img_width}</width>
          <height>${img_height}</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <!-- Fisheye option is required Gazebo5+ -->
        <!-- lens>
          <type>stereographic</type>
          <scale_to_hfov>true</scale_to_hfov>
          <cutoff_angle>${pi}</cutoff_angle>
          <env_texture_size>512</env_texture_size>
        </lens -->
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>${name}</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>${name}_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
  </xacro:macro>
</robot>
