<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="wheel_gazebo" params="name">
      <gazebo reference="wheel_${name}">
		<material>Gazebo/Blue</material>
		<mu1>100000</mu1>
		<mu2>100000</mu2>
		<kp>1000.0</kp>
		<kd>0.0</kd>
		<!-- <fdir1>0 0 1</fdir1> -->
		<minDepth>0.001</minDepth>
		<maxContacts>5</maxContacts>
	</gazebo>
  </xacro:macro>
</robot>
